* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);

}

.perfil {
    text-align: center;
    padding-bottom: 10px;
}

.avatar {
    margin-top: 20px;
    width: 100px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
}

h3 {
    color: #000000;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(200deg, rgba(255, 255, 255, 1) 0%, rgba(133, 133, 133, 1) 86%);
    border-radius: 20px;
}

.titulos {
    margin-left: 10px;
}

.midias img {
    width: 50px;
}

.midias {
    list-style: none;

}

.midias li {
    margin: 10px 20px;
    align-items: center;
}

.midias li a {
    background: rgb(255, 255, 255);
    background: linear-gradient(200deg, rgba(255, 255, 255, 1) 0%, rgba(133, 133, 133, 1) 86%);
    padding: 15px 20px;
    display: block;
    border-radius: 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    box-shadow: 6px 6px 23px 0px rgba(0,0,0,0.44);
}

.footer {
    background-color: #000000;
    text-align: center;
}
